@model GoodCoffee.Models.GALERIA



    @{
        ViewBag.Title = "Inicio";
    }

<body>
    <header class="masthead">
        &nbsp;
        &nbsp;
        &nbsp;
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <il>
                    <h1 class="mx-auto my-0 text-uppercase">Good Coffe</h1>
                </il>
                <il>
                    <h1 class="text-white-50 mx-auto mt-2 mb-5">El Buen Cafe</h1>
                </il>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </header>
</body>